In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('fish-bowl-rounds-counter-data.csv')

In [9]:
print(df['PDGA number'].value_counts().head(50))

48278.0    9
56246.0    9
49714.0    9
41869.0    8
17035.0    8
16027.0    8
31029.0    8
54687.0    8
12024.0    8
55386.0    7
14268.0    7
66363.0    7
68213.0    7
66112.0    7
48559.0    7
16287.0    7
72449.0    7
2607.0     6
57567.0    6
4218.0     6
68214.0    6
59456.0    6
74699.0    6
46829.0    6
9920.0     6
67657.0    6
76413.0    6
72527.0    6
54672.0    6
44665.0    6
66155.0    6
38735.0    5
91988.0    5
45396.0    5
49860.0    5
68406.0    5
27892.0    5
62106.0    5
13217.0    5
4792.0     5
89785.0    5
77856.0    5
16286.0    5
58216.0    5
54120.0    4
15853.0    4
62487.0    4
47869.0    4
39025.0    4
55401.0    4
Name: PDGA number, dtype: int64

In [8]:
print(df.sort_values(by='Player Name'))

              Player Name  PDGA number
292             Frederick      16286.0
582          Aaron Barber     114956.0
447           Aaron Fahey      44665.0
531           Aaron Fahey      44665.0
172           Aaron Fahey      44665.0
..                    ...          ...
423           dave greene          NaN
255         justin madore      17035.0
331  kyle pew pew gunagan          NaN
320          mark manogue          NaN
275      scott greenawalt      22970.0

[834 rows x 2 columns]